<section id="testimonial" >
    <div class="title-text">
      <p>TESTIMONIAL</p>
      <h1>What Client Says</h1>
  </div>
      <div class="testimonial-row">
        <div class="testimonial-col">
          <div class="user">
            <img src="/static/images/user-1.jpg">
            <div class="user-info">
              <h4>EMMIE ABC <img src="/static/images/twitter (2).svg"></h4>
              <small>@emmieabc</small>
  
            </div>
          </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis animi asperiores, dolorum voluptates 
               praesentium esse libero modi error omnis possimus distinctio architecto, quam est incidunt! Dolor facilis nam recusandae ea!</p>
        </div>
        <div class="testimonial-col">
          <div class="user">
            <img src="/static/images/user-2.jpg">
            <div class="user-info">
              <h4>DEVIN XYZ <img src="/static/images/twitter (2).svg"></h4>
              <small>@devinxyz</small>
  
            </div>
         </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis animi asperiores, dolorum voluptates 
               praesentium esse libero modir</p>
        </div>
        <div class="testimonial-col">
          <div class="user">
            <img src="/static/images/user-3.jpg">
            <div class="user-info">
              <h4>SHIRA MNO <img src="/static/images/twitter (2).svg"></h4>
              <small>@shiramno</small>
  
            </div>
          
          </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis animi asperiores, dolorum voluptates 
               praesentium esse libero modi error omnis possimus distinctio architecto, quam est incidunt! Dolor facilis nam recusandae ea!</p>
        </div>
  
  
      </div>
  
  
  
  
  
  
  
  
  
  
  
   </section>
   <script>
    var menuBtn = document.getElementById(" menuBtn") 
    var sidenav = document.getElementById(" sidenav") 
    var menu = document.getElementById("menu ") 
  
    sidenav.style.right == "-250px";
  
    menuBtn.onclick = function(){
      if(sidenav.style.right == "-250px"){
      sidenav.style.right == "0";
      menu.src="/static/images/x.svg";
      }
      else{
        sidenav.style.right == "-250px";
        menu.src="/static/images/menu.svg";
      }
    }
  </script>
  
  
  
  
  
  
  
  
  
  
  
       
      </body>
  </html>
