<html>
    <head>
        <title>Barber Shop</title>
        <link rel="stylesheet"  type="text/css" href="/static/style.css">
        <link rel="stylesheet"  type="text/css" href="/static/https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    </head>
    <body>
      <section id="banner">
          <img src="/static/images/Barber_logo.png" class="logo">
         <div class="banner-text">
           <h1>Hair Studio</h1>
           <p>
               Style Your Hair is Style Your Life
           </p>
           <div class="banner-btn">
             <a href="/login/"><span></span>Login</a>
             <a href="/signup/"><span></span>Sign Up</a>
           </div>
         </div>
      </section>
      